<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<title>FGS - Login</title>
	<meta name="description" content="Main Login Page">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="{% static 'main.css' %}">
	<script type="text/javascript" src="{% static 'main.js' %}"></script>
	<meta name="theme-color" content="#fafafa">
</head>

<header>
	<nav id="nav_login">
		<a href="{% url 'login:index' %}" class="left current">Login</a>
		<a href=" {% url 'register:index' %}" class="center">Register</a>

	</nav>
</header>
<body>
    <main>
    <h1> Login page to BOA! </h1>
    <div class="user-pass">
			<form action="{% url 'login:login' %}" method="post">
				{% csrf_token %}
				<label for="username">Username:</label>
				<input type="text" name="username"><br>
				<label for="password">Password:</label>
				<input name="password" type="password">
				<ul>
					<input type="submit" name="submit" value="Login">

				</ul>
    		</form>
	</div>
    </main>
</body>
</html>