<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<title>FGS - Register</title>
	<meta name="description" content="Registration Page">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="{% static 'main.css'%}">

	<script type="text/javascript" src="{% static 'main.js' %}"></script>

	<meta name="theme-color" content="#fafafa">
</head>
<header>
	<nav id="nav_main">
        <form id="sett" method="post" action="{% url 'user:setting' %}" class="right">
            {% csrf_token %}
              <input type="submit" name="setting" value="Back" class="right current">
              <input type="hidden" name="id" value={{ id }} >
        </form>
	</nav>
</header>
<body>
    <main>
    <h1> Registration Request Form </h1>
        <div class="register">
    <form action = "{% url 'register:save' %}" method ="post">
        {%csrf_token%}
	  <div>
          <h2> EID: {{ id }}</h2>
		  <h2> Name: {{ boa.username }}</h2>
          <h2> Email: {{ boa.email }}</h2>
	  </div>
	  <h2>User Type</h2>
	  <ul class="usertype">
		  <li>
			  <input type="radio" id="ROOT" name="usertype" value="3">
			  <label for="ROOT">ROOT</label>
		  </li>
		  <li>
			  <input type="radio" id="ADMIN" name="usertype" value="2">
			  <label for="ADMIN">ADMIN</label>
		  </li>
		  <li>
			  <input type="radio" id="assist" name="usertype" checked="checked" value="1">
			  <label for="assist">ASSISTANT</label>
		  </li>
	  </ul>
        <input type="hidden" name="id" value={{ id }}>
        <input type="hidden" name="email" value={{ boa.email }}>
        <input type="submit" value="Submit">
    </form>
            </div>
        </main>
</body>
</html>