<!doctype html>
<html class="no-js" lang="">

<head>
    {% load static %}
	<meta charset="utf-8">
	<title>FGS - Employee Unavailabla Time Editor</title>
	<meta name="description" content="Edit Employee Page">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->


	<link rel="stylesheet" href="{% static 'main.css' %}">
	<script src="{% static 'main.js' %}"></script>

	<meta name="theme-color" content="#fafafa">
</head>
<header>
	<nav id="nav_main">
        <form id="back" method="post" action="{% url 'user:setup' %}">
                {% csrf_token %}
              <input type="submit" name="empl" value="Back">
              <input type="hidden" name="id" value={{ id }} >

        </form>
	</nav>
</header>
<body>
	<main>
        <form method="post" action="{% url 'schedule:edit_create_unav' %}">
            {% csrf_token %}
		<div class="large">

			<div class="editemploy">
				<div class="editemployrow">
					<h2>Employee ID: {{ eid }}</h2>

				</div>
				<div class="editemployrow">
					<h2>Name: {{ name }}</h2>

				</div>
                <div class="editemployrow">
					<h2>Day: </h2>
					<select name="day" id="brtitle">
						<option value="Mon">Monday</option>
						<option value="Tue">Tuesday</option>
						<option value="Wed">Wednesday</option>
						<option value="Thu">Thursday</option>
						<option value="Fri">Friday</option>
                        <option value="Sat">Saturday</option>
                        <option value="Sun">Sunday</option>
					</select>
				</div>
                <div class="editemployrow">
					<h2>Reason:</h2>
					<input type="text"  value="{{ data.reason }}" name="reason" >
				</div>
				<div class="editemployrow">
					<h2>Time start (military time):</h2>
					<input type="text"  value="{{ data.start }}" name="start" >
				</div>
				<div class="editemployrow">
					<h2>Max Hours (military time):</h2>
					<input type="text" value="{{ data.end }}" name="end" >
				</div>

			</div>
			<ul>
                <input type="hidden" name="id" value="{{ id }}">
                 <input type="hidden" name="eid" value="{{ eid }}">
                <input type="hidden" name="old" value="{{ data.eid }}/{{ data.day }}/{{ data.start }}">
                <input type="submit" value="Accept Edit" name="submit">
			</ul>
		</div>
        </form>
	</main>
</body>

</html>