<!doctype html>
<html class="no-js" lang="">

<head>
    {% load static %}
	<meta charset="utf-8">
	<title>FGS - Employee Editor</title>
	<meta name="description" content="Edit Employee Page">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->


	<link rel="stylesheet" href="{% static 'main.css' %}">
	<script src="{% static 'main.js' %}"></script>

	<meta name="theme-color" content="#fafafa">
</head>
<header>
	<nav id="nav_main">
        <form id="back" method="post" action="{% url 'user:setup' %}">
                {% csrf_token %}
              <input type="submit" name="empl" value="Back">
              <input type="hidden" name="id" value={{ id }} >

        </form>
	</nav>
</header>
<body>
	<main>
        <form method="post" action="{% url 'schedule:edit_create_shift' %}">
            {% csrf_token %}
		<div class="large">
            <h2> Day of week: {{ day }}</h2>
            <h2> Tag: {{ tag }}</h2>
            <br>
            {% for i in list %}
					<p>{{ i.l }}:</p>
					<input type="number"  name="{{ i.l }}" value="{{ i.n }}" min="0">
			{% endfor %}

			<ul>
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="old" value="{{ day }}/{{ tag }}">
                <input type="submit" value="Accept Edit" name="submit">
			</ul>
		</div>
        </form>
	</main>
</body>

</html>